body {
    font-family: 'Montserrat Subrayada';
    box-sizing: border-box;
    margin: 0;
}
.header {
    color: #FFFFFF;
    background-image: url(images/mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering\ 1.png);
    height:1139px;
}
.top {
    display: flex;
    height: 200px;
    padding: 10px;
    justify-content: space-between;
}
.header div ul li{
    display: inline;
    align-self: right;
    font-family: Montserrat Subrayada;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    margin: 8px;
}
.header h4 {
    font-weight: 400;
    font-size: 100px;
    margin: 0;
}
.header h1 {
    font-family: Montserrat;
    font-size: 100px;
}
   
.header p {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.57px;
    text-align: left;
    
}
.header-bottom {
    width:60%;
    margin: 0 auto;
    text-align: center;
    justify-self: center;
}
.btn {
    background: linear-gradient(98.14deg, rgba(255, 255, 255, 0.67) 0%, rgba(255, 255, 255, 0.5) 100%);
    text-decoration: none;
    color:#000;
    padding: 10px 5px;
    border-radius: 8px;
    /* filter: blur(2px); */
    backdrop-filter: blur(6px);
    /* opacity: 0.6; */
    font-family: Montserrat;
    font-size: 35px;
    border: 3px solid #ffffff;
}
#rectangle{
    background: #006970;
    border-radius: 25px;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    margin: -100px;
    justify-self: center;
    align-items: center;
}
#rectangle ul li {
    display: inline;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 70;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}
#rectangle ul {
    display: flex;
    justify-content: space-around;
}
#rectangle ul li span {
    font-size: 1.5em;
    font-weight: 400;
    display: block;
}
hr {
    margin: 5px;
}
.peach {
    background: #F9ECE1;
    display: flex;
    padding: 50px;
}
.peach img {
    margin: 20px;
    border-radius: 15px;
}
.white {
    display: flex;
    padding: 30px;
}
.white h2, .peach h2 {
    font-family: 'Amazon Ember';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    color: #525252;
}
.white ul {
    font-family: 'Amazon Ember';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #525252;
}

.space{
    padding-top: 120px;
}
.josh {
    font-family: 'Amazon Ember';
    font-style: normal;
    display: flex;
}
.peach div p {
    font-size: 25px;
}
.josh h5 {
    font-size: 30px;
    margin: 0;
}
.josh h6 {
    font-size: 20px;
    margin: 0;
}
.josh div {
    padding:50px;
    font-weight: 500;
}
.arrows {
    width: 20%;
    margin: 0 auto;
}
.left {
    padding: 5px;
    background: #ffffff;
    color: #006970;
    border-radius: 50%;
}
.right {
    padding: 5px;
    background: #006970;
    color: #ffffff;
    border-radius: 50%;
}
.push-up {
    margin: 0 auto;
    margin-top: -50px;
}
#footer {
    background: #03494E;
    padding: 30px;
    color: #FFFFFF;
}
#footer div {
    display: flex;
    justify-content: space-between;
    font-family: 'Amazon Ember';
    font-size: 25px;
    padding: 10px;
}
#footer h4 {
    font-family: Montserrat Subrayada;
    font-size: 70px;
    font-weight: 400;
    margin:0;
    justify-self: left;
}
#footer li {
    list-style: none;
    font-size: 17px;
}
#social li{
    display: inline;
    margin:5px;
    background-color: #006970;
    border-radius: 50%;
    padding:8px;
    font-size: 1.5em;
}
