* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}
button {
  margin: 20px;
}

.alert {
  color: green;
}

 {
   {
    /*  */
  }
}

.table-container {
  margin-top: 2rem;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
}

.delete-btn,
.edit-btn {
  margin: 0 5px;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background-color: #ff4444;
  color: white;
}

.edit-btn {
  background-color: #4caf50;
  color: white;
}

.cancel-btn {
  margin-left: 10px;
  background-color: #808080;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #cc0000;
}

.edit-btn:hover {
  background-color: #45a049;
}

.cancel-btn:hover {
  background-color: #666666;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.show-toggle-button {
  display: flex;
  margin-inline: auto;
  padding-inline: 14px;
  padding-block: 10px;
  background-color: #6060d1;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 17px;
}

.alert {
  padding: 10px 20px;
  margin-block: 20px;
  border-radius: 4px;
  z-index: 1000;
  color: white;
}

.alert.success {
  background-color: #4caf50;
}

.alert.error {
  background-color: #f44336;
}
